html{
    scroll-behavior: smooth;
}



header{
    height: 40px;
    background-color: rgba(118, 3, 3, 0.838);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#op{
    background-image: url(sr.jpg);
    height: 15px;
    background-repeat: no-repeat;
    padding: 10px 40px;
    width: 300px;
}
ul{
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-between;
}
li{
    list-style: none;
}
.first{
    background-image: url(lok.png);
    background-size: cover;
    height: 590px;
}
#pop{
border: 1px solid rgb(49, 204, 96);
color: rgb(129, 209, 50);
padding: 10px;

}
#pop:hover{
    background-color: yellow;
}
.spn{
    padding-left: 990px;
    padding-top: 300px;
}

.secound{
   display: flex; 
   justify-content: space-between;
    column-gap: 70px;
    padding-right: 60px;
    padding-left:30px ;
}
#ui:hover{
    zoom: 50%;
    
}
.third{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding-right: 110px;
    padding-left:150px ;
}
button:hover{
    background-color: red;
    zoom: 250%;
}

.fourth{
    background-color: rgb(253, 255, 254);
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
   
}
.fifth{
    display: flex;
    column-gap: 80px;
    padding-left: 400px;
    
}
.six1{
    height: 100px;
    background-color: black;
    padding-top: 30px;
    display: flex;
    
    justify-content: space-around;
    column-gap: 150px;
    padding-left: 80px;
    
}
#pl{
    background-color: black;
    color:white;
    height: 40px;
    
    
}

#mkp:hover{
    zoom:180%;
}

.seven{
    background-color: black;
    color: white;
}

.eight{
    height: 200px;
    
}
#ml{
    display: inline;
    border: 1px solid red;
}
#ml:hover{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aqua;
    zoom: 200%;
}